name: Build .8xp

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build with CEdev
        uses: CE-Programming/gh-action-build@v5
        with:
          artifact-name: MyMinesweeper
